.App {
  text-align: center;
  line-height: 22px;
}

body {
  background: #ececec;
  color: #272343;
}

.container {
  background: #9fd3c7;
  margin: 2rem 7rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border-radius: 4px;
  font-family: "Akshar", sans-serif;
  color: #385170;
}

h1 {
  font-size: 5rem;
  padding-bottom: 10px;
}

input {
  width: 40%;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 2rem;
}
