.App {
  text-align: center;
}

body {
  background: #e3f6f5;
  color: #272343;
}

.container {
  background: #ffffff;
  margin: 2rem 7rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border-radius: 4px;
}

h1 {
  font-size: 3rem;
}

input {
  width: 60%;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}
